
/*UNIVERSAL*/
html {
  font-size: 16px;
  font-family: sans-serif;
}
p,
h1,
h2,
h3 {
  color: #424851;
}



.color-1 {
  background-color: hsla(160, 0%, 80%, 0.8);
  color: hsla(360, 0%, 0%, 1.0);
}
.color-2 {
  background-color: hsla(225, 20%, 95%, 0.8);
  color: hsla(360, 0%, 0%, 1.0);
}
.color-3 {
  background-color: hsla(360, 60%, 0%, 0.8);
  color: hsla(360, 0%, 100%, 1.0);
}
.mobile {
  display: none;
}
@media only screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  header.regular {
    display: none;
  }
  header.mobile {
    display: inline-flex;
    justify-content: space-around;
    height: 64px;
  }
}

/*HEADER*/
header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100%;
}
header .header-left {
  display: inline-flex;
  align-items: center;
}
header img {
  padding-left: 24px;
}
header h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
}
header h1 .header-span-left {
  font-weight: 700;
  color: #424851;
}
header h1 .header-span-right {
  color: gray;
}
header nav ul li {
  display: inline-block;
  text-decoration: none;
  margin-right: 16px;
  padding: .5em;
}
@media only screen and (max-width: 650px) {
  header nav ul li {
    margin-right: 4px;
    padding: .25rem;
  }
}
/*BUTTONS*/
a {
  color: black;
}
.button {
}
.button:hover {
  background-color: hsla(360, 60%, 0%, 1.0);
  color: hsla(360, 0%, 100%, 1.0);
}
a:visited {
  color: black;
}

/*MAIN CONTENT*/
.content {
  /*display: flex;*/
  /*flex-direction: column;
  justify-content: center;

  align-items: center;*/
  margin: 0 auto;
  max-width: 1024px;
}
.main-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content .first-section {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid white;
}
.left {
  width: 70%;
  }
.right {
  width: 423px;
  }
.main-content .first-section .image-container {
  padding: 32px 40px 32px 24px;
  }
.main-content .first-section .image-container img {
  width: 100%;
  height: auto;
  }
.main-content .first-section .text-container {
  display: inline-block;
  text-align: center;
  padding-right: 24px;
  }
.main-content .first-section .text-container h2, .second-section .text-container h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
  }
.main-content .first-section .text-container p, .second-section .text-container p {
  line-height: 1.3;
  padding-bottom: 3rem;
  }
.main-content .first-section .text-container .start-button {
  color: white;
  background-color: #424851;
  padding: 8px;
  margin: 0 auto 2rem auto;
  /*border-radius: 0.5rem;*/
  }
.main-content .first-section a {
  text-decoration: none;
}
.main-content .second-section {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid white;
  }
.main-content .second-section .left {
  border-right: 1px solid white;
  }
.main-content .second-section .image-container {
  display: inline-block;
  padding: 32px 40px 32px 24px;
  }
.main-content .second-section .image-container img {
  width: 100%;
  }
.main-content .second-section .left .text-container {
  display: inline-block;
  text-align: left;
  padding-left: 24px;
  width: 90%;
  }
.main-content .second-section .newsfeed-block:first-child {
  padding-top: 16px;
}
.main-content .second-section .newsfeed-block {
  display: inline-flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.main-content .second-section .newsfeed-block .image-container {
  width: 35%;
  padding: 16px 0 16px 16px;
}
.main-content .second-section .newsfeed-block .image-container img {
  width: 100%;
  border-radius: .5rem;
}
.main-content .second-section .newsfeed-block .text-container {
  display: inline-block;
  width: 60%;
}
.main-content .second-section .newsfeed-block .text-container h3 {
  font-weight: 900;
  font-size: 1.5rem;
  padding: 16px .5rem .5rem .5rem;
}
.main-content .second-section .newsfeed-block .text-container p {
  padding: 0 .5rem .5rem .5rem;
}
.main-content .second-section .newsfeed-block .text-container a {
  padding: 0 .5rem .5rem .5rem;
  text-decoration: none;
  color: #2977f4;
}
@media only screen and (max-width: 980px) {
  .main-content .first-section .text-container h2, .second-section .text-container h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .main-content .first-section .text-container p, .second-section .text-container p {
    padding-bottom: 1rem;
  }
  .main-content .second-section .newsfeed-block .text-container h3 {
    font-size: 1.2rem;
    padding-bottom: .25rem;
  }
  .main-content .second-section .newsfeed-block .text-container p {
    font-size: .85rem;
  }
  .main-content .second-section .left {
    height: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
  }
  .main-content .first-section .text-container .start-button {
    color: white;
    background-color: #424851;
    padding: 4px;
    margin: 0 auto .5rem auto;
  }
  .main-content .second-section .newsfeed-block .text-container p {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .main-content .first-section {
    flex-wrap: wrap;
  }
  .main-content .first-section .left {
    width: 100%;
  }
  .main-content .first-section .left .image-container {
    padding: 0;
    height: 220px;
  }
  .main-content .first-section .image-container img {
    height: 100%;
  }
  .main-content .right {
    width: 100%;
    padding: 1rem;
  }
  .main-content .first-section .right .text-container {
    padding: 0;
  }
  .main-content .first-section .text-container h2 {
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 900;
    }
  .main-content .first-section .text-container p {
    line-height: 1.3;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    text-align: justify;
    }
  .main-content .first-section .text-container .start-button {
    padding: 1rem;
  }
  .main-content .second-section {
    border: 0px solid
  }
  .main-content .second-section .left {
    display: none;
  }
  .main-content .second-section .right {
    padding: 0;
  }
  .main-content .second-section .newsfeed-block {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 16px;
    border: 0px solid white;
  }
  .main-content .second-section .newsfeed-block .image-container {
    width: 100%;
    padding: 16px;
  }
  .main-content .second-section .newsfeed-block .image-container img {
    width: 100%;
    height: 180px;
    border-radius: 0;
  }
  .main-content .second-section .newsfeed-block .text-container h3 {
    padding: 0 0 8px 32px;
  }
  .main-content .second-section .newsfeed-block .text-container p {
    display: block;
    padding: 0 0 8px 32px;
  }
  .main-content .second-section .newsfeed-block .text-container a {
    padding: 0 0 0 32px;
    margin-bottom: 16px;
    text-decoration: none;
    color: blue;
  }
}

/*COURSES*/
.courses {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.courses .text-container {
  width: 100%;
  text-align: center;
  padding: 32px 0;
}
.courses .text-container h3 {
  font-size: 1.5rem;
  font-weight: 900;
}
.courses .gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 32px;
}
.courses .course-section {
  display: inline-block;
  margin: 0 16px 16px 16px;
  width: 30%;
}
.courses .course-section img {
  width: 100%;
}
.courses .course-section h4 {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 16px 0 0 16px;
}
.courses .course-section h5 {
  font-size: .75rem;
  text-transform: uppercase;
  padding: 8px 0 0 16px;
}
.courses .course-section h6 {
  font-size: .75rem;
  padding: 8px 0 24px 16px;
}
@media only screen and (max-width: 980px) {
  .courses .course-section {
    margin: 0 8px 8px 8px;
    width: 27%;
  }
  .courses .course-section h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 800px) {
  .courses .course-section h4 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .courses .course-section h6 {
    padding: 8px 4px 24px 16px;
  }
  .courses .course-section:first-child h4 {
    line-height: 1em;
  }
  .courses .course-section h4 {
    line-height: 2em;
    padding-top: 8px;
  }
}
@media only screen and (max-width: 500px) {
  .courses .course-section img, .courses .course-section h5, .courses .course-section h6 {
    display: none;
  }
  .courses .course-section {
    width: 90%;
  }
  .courses .course-section h4 {
    font-size: 1.5rem;
    line-height: 1em;
    padding: 16px;
  }
}

/*THESIS EXHIBIT*/
.thesis-exhibit {
  display: inline-flex;
  flex-wrap: wrap;
}
.thesis-exhibit .text-container:first-child {
  border-bottom: 1px solid white;
}
.thesis-exhibit .text-container {
  padding: 32px 0;
  width: 100%;
}
.thesis-exhibit .text-container h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.thesis-exhibit .full-width {
  display: inline-flex;
  flex-wrap: nowrap;
}
.thesis-exhibit video {
  max-width: 90%;
  margin: 0 16px 0 24px;
}
.thesis-exhibit .left {
  border-right: 1px solid white;
}
.thesis-exhibit .left .text-container h2 {
  padding: 0px 24px 8px 24px;
  font-size: 1.2rem;
  font-weight: 900;
}
.thesis-exhibit .left .text-container p {
  padding: 0px 24px 8px 24px;
}
.thesis-exhibit .newsfeed-block {
  display: inline-flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.thesis-exhibit .newsfeed-block .image-container {
  width: 35%;
  padding: 16px 0 16px 16px;
}
.thesis-exhibit .newsfeed-block .image-container img {
  width: 100%;
}
.thesis-exhibit .newsfeed-block .text-container {
    display: inline-block;
    width: 60%;
    padding: 0;
}
.thesis-exhibit .newsfeed-block .text-container h3 {
  font-weight: 900;
  font-size: 1.2rem;
  padding: 1rem .5rem .5rem .5rem;
  text-align: left;
}
.thesis-exhibit .newsfeed-block .text-container p {
  padding: 0 .5rem 0 .5rem;
  font-size: .95rem;
  line-height: 1.4;
}
@media only screen and (max-width: 980px) {
  .thesis-exhibit .newsfeed-block .text-container h3 {
    font-size: 1rem;
  }
  .thesis-exhibit .newsfeed-block .text-container p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 780px) {
  .thesis-exhibit .newsfeed-block .text-container p {
    font-size: .85rem;
  }
  .thesis-exhibit .left .text-container h2 {
    font-size: 1rem;
  }
  .thesis-exhibit .left .text-container p {
    font-size: .9rem;
  }
}
@media only screen and (max-width: 500px) {
  .thesis-exhibit .left {
    width: 100%;
  }
  .thesis-exhibit .right, .thesis-exhibit .text-container h2, .thesis-exhibit .text-container p {
    display: none;
  }
  .thesis-exhibit .text-container:first-child {
    border: 0px solid white;
    padding: 16px;
  }
  .thesis-exhibit video {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .thesis-exhibit .text-container {
    margin: 0;
    padding: 0;
  }
}

/*FOOTER*/
footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  border-top: 1px solid white;
  /*margin-bottom: 30px;*/
}
footer .footer-left {
  padding: 0 0 0 24px;
}
footer .footer-right {
  padding: 0 1rem 0 0;
}
footer .footer-right a {
  text-decoration: none;
  color: black;
  padding: 0 .25rem;
}
@media only screen and (max-width: 500px) {
  footer {
    position: relative;
    bottom: 3px;
  }
  footer .footer-left {
    width: 100%;
    text-align: center;
    font-size: .8rem;
  }
  footer .footer-right {
    display: none;
  }
}

/*INTERACTIVE FEATURES*/
.main-content .first-section:hover,
.main-content .second-section .left:hover,
.main-content .second-section .right .newsfeed-block:hover,
/*.courses:hover,*/
.courses .course-section:hover,
/*.thesis-exhibit .text-container:hover,*/
.thesis-exhibit .left:hover,
.thesis-exhibit .newsfeed-block:hover {
  background-color: hsla(190, 20%, 75%, 0.8);
}
.main-content .first-section,
.main-content .second-section .left,
.main-content .second-section .right .newsfeed-block,
/*.courses,*/
.courses .course-section,
/*.thesis-exhibit .text-container,*/
.thesis-exhibit .left,
.thesis-exhibit .newsfeed-block {
  transition: all 200ms linear 100ms;
}
